.entry {
	border: solid black 3px;
	background-color: gray;
	padding:5px;
	margin-bottom: 5px;

	 h1 {
		text-align: center;
		}
}

/*example 1*/
.example1	{
	height: 114px;
	width: 300px;
	padding: 0;
	background: #272822;

 	* {margin: 5px;}

	.ex1slide	{
		height: 100px;
		width: 100px;
		background: #9ebb27;
		clear: left;
		float: left;
		border: solid  #434343 2px;
		transition: width 0.4s ease-out;
		position: absolute;

		.imgsm {
			width: 80px;
			height: 80px;
			margin: 10px;
			opacity: 1;
			transition: all .4s 0 linear;	
		}

		 .imglg {
			width: 280px;
			height: 80px;
			margin: 10px;
			opacity: 0;
			z-index: 1;
			position: absolute;
			left: -8px;
			visibility: hidden;
		}
	}
}
.ex1slide:hover{
	width: 286px;

		.imglg {
			visibility: visible;
			opacity: 1;
			transition: all 0.1s .3s  ease-in;
		}

		.imgsm {
			opacity: 0;
		}
}

/*Example number two. light up button.*/
.button1 {
	display:block;
    width:100px;
    height:100px;
    line-height:100px;
    text-align: center;
    background: #7A1F1A;
    border-radius: 50%;
    box-shadow: inset 0 -6px 0 0 #5C1F1B;
    margin: 10px;
    transition: all 0 0 linear;
}

.button1:hover {
	height: 97px;
	box-shadow: inset 0 -3px 0 0 #5C1F1B;
	margin-top: 13px;
	margin-bottom: 10px;
}

.button1:active {
	height: 93px;
	margin-top: 17px;
	margin-bottom: 10px;
	width: 97px;
	background: #C72D22;
	box-shadow: 0 0 15px 5px #E8291C;
}

/*example number 3. expanding image*/
.example3 {
	height: 400px;
	width: 400px;
	position: relative;

	img {
		height: 125px;
		width: 125px;
		top: 0;
		left: 0;
		transition: all 0.3s .2s ease-in;
		position: absolute;
	}
	
	img:hover {
		height: 400px;
		width: 400px;
		
		font-size: 0px;
		z-index: 1;
	}

	p {
		position: absolute;
		color:	white;
		transition: all 0 0 linear;
		z-index: 1;
		margin-top: 0;
		left: 0;
		font-size: 8px;
	}

	span {
		
		top: 0;
		left: 130px;
		color: white;
	}
}

/*example 4 slideshow*/

.slideshow {
	height: 175px;
	width: 172px;
	background: blue;
	position: relative;
	padding: 10px;
	padding-left: 16px;

	img {
		height: 165px;
		width: 162px;
		position: absolute;
		margin: 0;
	}

}
.zach {
	transition: .8s 0 linear;
}
.bottles{
	transition: .8s .8s linear;
	
}
.surf {
	transition: .8s 1.6s linear;
}

.slideshow:hover .zach{
	opacity: 0;
}
.slideshow:hover .bottles {
	opacity: 0;
}
.slideshow:hover .surf {
	
	opacity: 0;
}


/*example 5 flower*/
.flower {
	height: 100px;
	width: 50px;
	position: relative;
	background-color: #87EBFF;

}
.stem {
	height: 0px;
	width: 0px;
	
}

.flower:hover {

	.stem {
		height: 55px;
		width: 5px;
		background-color: green;
		bottom: 0;
		left: 22px;
		position: absolute;
		transition: height .2s 0 linear;
	}

	.fcenter {
		height: 15px;
		width: 15px;
		background-color: yellow;
		bottom: 53px;
		margin-left: 17px;
		position: absolute;
		border-radius: 45%;
		transition: all 0s .2s linear;
	}

	.petal {
		height: 20px;
		width: 20px;
		position: absolute;
		border-radius: 50%;
	}

	.petal1 {
		background-color: red;
		bottom: 55px;
		margin-left: 10px;
		transition: all 0s .3s linear;
	}

	.petal2 {
		background-color: orange;
		bottom: 55px;
		margin-left: 20px;
		transition: all 0s .4s linear;
	}

	.petal3 {
		background-color: orange;
		bottom: 45px;
		margin-left: 10px;
		transition: all 0s .5s linear;

	}

	.petal4 {
		background-color: red;
		bottom: 45px;
		margin-left: 20px;
		transition: all 0s .6s linear;
	}

	.petal {
		height: 20px;
		width: 20px;
		position: absolute;
		border-radius: 50%;
	}
}

/*example 6. reactive boxes*/
.boundry {
	height: 60px;
	width: 250px;
	background-color: blue;
	padding-bottom: 5px;

	div {
		height: 50px;
		width: 50px;
		margin: 5px;
		float: left;
		transition: 0.2s 0 ease;
		background-color: red;
		}

	div:hover {
		margin-top: -10px;
	}
}

/*example 7*/
.grow {
	height: 100px;
	width: 100px;
	background-color: yellow;
	position: relative;
	div {
		height: 20px;
		width: 20px;
		background-color: red;
		border-radius: 50%;
		left: 40px;
		bottom: 40px;
		position: absolute;
		transition: height 		  .5s 0 ease,
					width 		  .5s 0 ease,
					border-radius .2s .2s linear,
					bottom        .5s 0  ease,
					left        .5s 0  ease;
	}	
	div:hover {
		height: 100px;
		width: 100px;
		border-radius: 0;
		bottom: 0px;
		left: 0px;
	}
}

/*example 8. youtube button icon*/
.buttonbox  {
	font-family: 'arial', sans-serif;
	height: 20px;
	width: 80px;
	margin-bottom: 10px;
	position: relative;

	div {
		height: 20px;
		width: 45px;
		background-color: red;
		text-align: center;
		border-radius: 7px;
		color: white;
		border: solid black;
		transition: all .1s 0 ease;
		box-shadow: inset 0 -1px 0 0 black;
		position: absolute;
		top: 0;
		left: 30px;
	}

	div:hover {
		background-color: white;
		color: red;
	}

	div:active {
		height: 17px;
		margin-top: 3px;
		box-shadow: inset 0px 1px 0px 0px black;	
	}

	span {
		top: 3px;
		position: absolute;
	}
}

/*example 9*/
.blur {
	height: 165px;
	width: 162px;
	position: relative;

	span {
		visibility: hidden;
		position: absolute;
		left: 0;
		bottom: 0;
		color: white;
		transition: all .2s .4s ease;
	}

	img {
		height: 165px;
		width: 162px;
		-webkit-transition: all .6s 0 ease;
	}
}

.blur:hover {

	img {
	-webkit-filter: blur(3px);
	}
	span {
	visibility: visible;
	}	
}
/*example 10*/
.bar {
	height: 20px;
	background-color: gray;
	width: 190px;
	margin-top: 10px;
}
.content1, .content2, .content3 {
	visibility: hidden;
}
.more {
	width:	60px;
	height: 30px;
	background-color: white;
	position: absolute;
	transition: all .6s 0 ease;
}

.more:hover {
	width: 190px;

	.content1 {
		visibility: visible;
		transition: all 0s .2s ease;
	}

	.content2 {
		visibility: visible;
		transition: all 0s .3s ease;
	}

	.content3 {
		visibility: visible;
		transition: all 0s .5s ease;
	}
}

/*example 11. spinning icon*/
.container {
	width: 70px;
	height: 70px;
	background-color: red;
	position: relative;

	div{
		width: 50px;
    	height: 50px;
    	position: absolute;
    	bottom: 15%;
    	left: 15%;
	}

}

/*example 12*/
.black-spin {   
    background-color: black;
    -webkit-animation: rspin 2s linear infinite;
}

.blue-spin {
    background-color: blue;
    -webkit-animation: lspin 2s linear infinite;
}
.red-center {
    background-color: red;
    border-radius: 50%;
}

@-webkit-keyframes rspin {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes lspin {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}


/*example 13*/
.bouncespace {
	width: 75px;
	height: 100px;
	position: relative;
	background-color: blue;

div {
	width: 25px;
	height: 25px;
	left: 25px;
	position: absolute;
	background-color: red;
	border-radius: 50%;
	-webkit-animation: bounce .7s ease-in .1s infinite alternate;
	}

}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(0px, 0px);
        
    }
    95% {
    	width: 25px;
		height: 25px;
    }
   	100% {
	-webkit-transform: translate(0px, 75px);
	width: 28px;
	height: 22px;
    }
}

/*example14*/
.background {
	height: 400px;
	width: 400px;
	background-color: gray;
	position: relative;

		div {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			top: 175px;
		}
}
.circle1 {
   	-webkit-animation: slidel 2s 0s linear infinite;
	background-color: red;
	left: 0;
}
.circle2 {
	background-color: blue;
	right: 0;
	-webkit-animation: slider 2s 0s linear infinite;
}

@-webkit-keyframes slidel {
    0% {
        -webkit-transform: translate(0px, 0px);
        height: 50px;
		width: 50px;
    }
    25% {
    	height: 25px;
    	width: 25px;
    	-webkit-transform: translate(150px, -8px);
    	z-index: 0;
    }
    50% {
    	height: 50px;
		width: 50px;
		-webkit-transform: translate(350px, 0px);
    }
    75% {
    	height: 100px;
		width: 100px;
		-webkit-transform: translate(100px, -25px);
		z-index: 1;
    }
    100% {
    	-webkit-transform: translate(0px, 0px);
        height: 50px;
		width: 50px;
    }
}

@-webkit-keyframes slider {
    0% {
        -webkit-transform: translate(0px, 0px);
        height: 50px;
		width: 50px;
    }
    25% {
    	height: 100px;
    	width: 100px;
    	-webkit-transform: translate(-150px, -25px);
    	z-index: 1;
    }
    50% {
    	height: 50px;
		width: 50px;
		-webkit-transform: translate(-350px, 0px);
		
    }
    75% {
    	height: 25px;
		width: 25px;
		-webkit-transform: translate(-225px, -8px);
		z-index: 0;
    }
    100% {
    	-webkit-transform: translate(0px, 0px);
        height: 50px;
		width: 50px;
    }   
}

/*example 15*/
.smiley {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: yellow;
	position: relative;

		div{
			position: absolute;
		}
}

.eyel {
	width: 20px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	top: 20px;
	left: 20px;
    -webkit-animation: blink 3s 0s linear infinite;
}

.eyer {
	width: 20px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	top: 20px;
	right: 20px;
    -webkit-animation: blink 3s 0s linear infinite;
}

.mouth {
	width: 30px;
	height: 5px;
	background-color: black;
	top: 60px;
	left: 35px;
}

.tongue {
	width: 10px;
	height: 0px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: red;
	top: 65px;
	left: 45px;
    -webkit-animation: out 5s 0s linear infinite;
}

@-webkit-keyframes out {
	0% {
		height: 0px;
	}
	5% {
		height: 15px;
	}
	10% {
		height: 0px;
	}
	100% {
		height: 0px;
	}
}

@-webkit-keyframes blink {
	0% {
		-webkit-transform: scale(1,1);
	}
	10% {
		-webkit-transform: scale(1,.2);
	}
	20% {
		-webkit-transform: scale(1,1);
	}
	50% {
		-webkit-transform: scale(1,1);
	}
	100% {
		-webkit-transform: scale(1,1);
	}
}

/*example 16. megaman*/
.boundbox {
	position: relative;
	width: 356px;
	height: 357px;

		div {img{ position: absolute;}}
}

@-webkit-keyframes manrunc {
	0% {
		opacity: 1;
	}
	32% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.manrunc {-webkit-animation: manrunc .3s 0s linear infinite;}
@-webkit-keyframes manrunb {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.manrunb {-webkit-animation: manrunb .3s 0s linear infinite;}

@-webkit-keyframes manruna {
	0% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
}
.manruna {-webkit-animation: manruna .3s 0s linear infinite;}


/*example 17*/
.boundbox2 {
	height: 200px;
	width:100%;
	position: relative;

	div {
		height: 200px;
		width: 200px;
		-webkit-animation: slideb 2s 0 linear infinite;

			div{
				height: 200px;
				width: 200px;
				-webkit-animation: turnb .3s 0 linear infinite;

				div {
					height: 200px;
					width: 200px;
					background-color: red;
					position: absolute;
					-webkit-animation: colorb .7s 0 linear infinite;					
				}
			}
	}

}

@-webkit-keyframes colorb {
	0% {
		background-color: red;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: yellow;
	}
}

@-webkit-keyframes slideb {
	0% {
        -webkit-transform: translate(0, 0);
	}
    
    50% { 
        -webkit-transform: translate(900px, 0);
    }
	100% {
		-webkit-transform: translate(0, 0);
	}
}

@-webkit-keyframes turnb {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/*example 18*/
.bloomcontainer {
	width: 200px;
	height: 200px;
	background-color: gray;
	position: relative;
	margin-top: 20px;
	transition: all 1s 0 ease;
	border: solid black 3px;

		div{
			position: absolute;
			top: 0;
			left: 90px;
			transition: all 1s 0 ease;
			width: 20px;
			height: 0px;
		}
}

.bar1 {
	background-color: red;
	-webkit-transform: rotate(72deg);
}

.bar2 {	
	background-color: blue;
	-webkit-transform: rotate(144deg);
}

.bar3 {
	background-color: red;
	-webkit-transform: rotate(216deg);
}

.bar4 {
	background-color: blue;
	-webkit-transform: rotate(288deg);
}

.bar5 {
	background-color: green;
	-webkit-transform: rotate(360deg);
}

.bloomcontainer:hover .bar-star {
	width: 20px;
	height: 200px;

}

/*example 19*/
.fabulous {
	height: 100px;
	width: 1000px;
	background-color: gray;
	position: relative;
	border: solid black 3px;

		img {
			height: 100px;
			width: 108px;
			position: absolute;
			left: 1000px;
			visibility: hidden;

		}

		span {
			font-size: 100px;
			color: white;
			visibility: hidden;
			
		}
}

.fabulous:hover {
	-webkit-animation: colorb .7s 0 linear infinite;

	img {
		visibility: visible;
		-webkit-animation: fab 1s 0 linear infinite;
	}
	
	span {
		visibility: visible;
	}
}

@-webkit-keyframes fab {
	0% { left: 898px;
	}
	100% {
		left: -108px;
	}
}

@-webkit-keyframes colorb {
	0% {
		background-color: red;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: yellow;
	}
}

/*example 20*/
.newtons {
	width: 500px;
	height: 100px;
	background-color: gray;
	position: relative;
	left: 300px;
	
	div {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: red;
		position: absolute;
	}
}

.newt1{
	left: 0px;
	-webkit-transform-origin: 200px -500px;
	-webkit-animation: swingl 1.5s 0 linear infinite;
}

@-webkit-keyframes swingl {
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(35deg);
	}
	30% {
		-webkit-transform: rotate(30deg);
	}
	45% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

.newt2 {left: 100px;}

.newt3{ left: 200px;}

.newt4 {left: 300px;}

.newt5 {
	left: 400px;
	-webkit-transform-origin: -200px -500px;
	-webkit-animation: swingr 1.5s 0 linear infinite;
}

@-webkit-keyframes swingr {
	0% {
		-webkit-transform: rotate(0deg);
	}
	
	50% {
		-webkit-transform: rotate(0deg);
	}

	75% {
		-webkit-transform: rotate(-35deg);
	}
	80%{
		-webkit-transform: rotate(-30deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

/*example 21*/
.cardboundry {
	width:200px;
	height: 300px;
	position: relative;
	-webkit-perspective: 600;
	
	div {
		width: 100%;
		height:100%;
		position: absolute;
		-webkit-transform-style: preserve-3d;
	  	-webkit-transition: -webkit-transform 1s;
		-webkit-transform-origin: right right;
			
			div {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;
			}
			img {
				height: 300px;
				width: 200px;
			}
	}
}

.back {
  -webkit-transform: rotateY(180deg);
}
.cardboundry:hover .card {
  -webkit-transform: rotateY(180deg);
}


/*example 22*/
.doorboundry {
	width:200px;
	height: 300px;
	position: relative;
	-webkit-perspective: 500;

	img {
			width: 200px;
			height: 300px;
			position: absolute;
	}
	
	div {
		width: 100%;
		height:100%;
		position: absolute;
		-webkit-transform-style: preserve-3d;
	  	-webkit-transition: -webkit-transform 1s;
		-webkit-transform-origin: left center;
			
			div {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: visible;
				
			}
			img {
				position: absolute;
				height: 300px;
				width: 200px;
			}
	}
}

.dback {
  -webkit-transform: rotateY(180deg);
 
}
.doorboundry:hover .door {
  -webkit-transform: rotateY(-180deg);
}
.doorboundry:hover {
  background-image: url("images/portaj.jpg");
}

/*example 23*/
.coinbox {
	height: 200px;
	width: 200px;
	position: relative;
	-webkit-perspective: 500;
	background-color: gray;
	border-radius: 50%;
	
	div {
		width: 100%;
		height:100%;
		position: absolute;
		-webkit-transform-style: preserve-3d;
	  	-webkit-transition: -webkit-transform 1s;
		-webkit-transform-origin: top top;

			div {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;	
			}
			
			img {
				width: 200px;
				height: 200px;
				border-radius: 50%;
			}
	}
}

.cointails{
	-webkit-transform: rotateX(180deg);
}

.coinbox:hover .coin {
	-webkit-transform: rotateX(360deg);
}

/*example 24*/
.glowbox {
	width: 200px;
	height: 200px;
	background-color: #3A46F2;
	-webkit-animation: glowb 2s 0 linear infinite alternate;
	border-radius: 50%;
}

@-webkit-keyframes glowb {
	0% {
		box-shadow: 0 0 0px 0px #8D94F0;
	}
	100% {
		box-shadow: 0 0 5px 15px #8D94F0;
	}
}

/*example 25*/
.pinwheelb {
	height: 110px;
	position: relative;
}
	.pins {
		height: 100px;
		width: 100px;
		position: absolute;
		background-color: red;
		-webkit-transform: skew(30deg, 40deg);
	}
	.pin1 {
		background-color: blue;
		-webkit-animation: pinq 1s 0 linear infinite;
	}
	@-webkit-keyframes pinq {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
		
	}
	.pin2 {
		background-color: green;
		-webkit-animation: pinw 1s 0 linear infinite;
	}
	@-webkit-keyframes pinw {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(-360deg);
		}
		
	}
	.pin3 {
		background-color: yellow;
		-webkit-animation: pine .8s 0 linear infinite;
	}
	@-webkit-keyframes pine {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
		
	}
	.pin4 {
		background-color: red;
		-webkit-animation: pinr .8s 0 linear infinite;
	}
	@-webkit-keyframes pinr {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(-180deg);
		}
		
	}
	.pinm {
		width: 100px;
		height: 100px;
		position: absolute;
		border-radius: 50%;
		background-color: blue;
	}
/*example 26*/
.holster {
	height: 300px;
	position: relative;

		div {
			height: 25px;
			width: 25px;
			position: absolute;
			background-color: blue;
			border-radius: 50%;
		}
}
.midcircle {
	left: 400px;
	top: 140px;
}

.closecircle {
	left: 400px;
	top: 170px;
	-webkit-animation: closer .8s 0 linear infinite;
	-webkit-transform-origin: 0px -30px;
}

@-webkit-keyframes closer {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.outcircle {
	left: 400px;
	top: 190px;
	-webkit-animation: outr .6s 0 linear infinite;
	-webkit-transform-origin: 0px -50px;
}

@-webkit-keyframes outr {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

.farcircle {
	left: 400px;
	top: 210px;
	-webkit-animation: farr 1s 0 linear infinite;
	-webkit-transform-origin: 0px -70px;
}

@-webkit-keyframes farr {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/*example 7*/
.wordbox {
	height: 45px;
	
	span {
		font-family: 'helvetica';
		font-size: 17px;
		color: green;
		-webkit-animation: groww 2s 0 linear infinite alternate;
}
}
	
@-webkit-keyframes groww {
	0% {
		font-size: 17px;
	}
	
	100% {
		font-size: 40px;
	}
}

/*example 8*/
.trapbox {
	position: relative;
	height: 100px;
	background-color: teal;

	div{
		width: 100px;
		height: 100px;
		background-color: lime;
		transition: all 0.4s 0s ease;
	}
}

.trap1 {
	float: left;
	transition: all 0.4s 0s ease;	
}

.trap2 {
	float: right;
}
.trapbox:hover {
	
	.trap1{
		-webkit-transform: skew(10deg, 15deg);
	}

	.trap2 {
		-webkit-transform: skew(-10deg,-15deg);
	}
}

/*example 29*/
.boxbox {
	height: 110px;

	div {
		height: 100px;
		width: 100px;
		float: left;
		background-color: purple;
		margin: 5px;
	}
}

.boxbox div:hover {
	opacity: 0;
}

/*example 20*/
.heman {
	height: 50px;
	width: 50px;
	left: 500px;
	background: white;
	position: relative;

	img {
		position: absolute;
		height: 50px;
		width: 50px;
		bottom: 0;
		left:0;
	}
}
.heman:active img {
	-webkit-transform: scale(50,50);
	transition: all 10s 0s linear;
}



















